.section {
  padding: $m-gutter;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -$m-gutter;


  &-item {
    flex-basis: calc(100% / 3 - 2rem);
    flex-grow: 1;
    margin: $m-gutter;
    border: 0.1rem solid $c-border;
    border-radius: 0.2rem;
    background: $c-font-white;
  }
}
